.list{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.list_title{
    font-size: 3rem;
    font-weight: 400;
    color:white;
    margin-bottom: 10px;
}
.menu_list{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    padding: 10px;
}
.menu_item{
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #bababa;
    list-style-type: none;
    cursor: pointer;
    padding-bottom: 5px;
    transition: 0.2s ease;
    padding: 10px;
    border: 1px solid #bababa;
    border-radius: 4px;
}
.menu_item.active{
    background: #808080bd;   
    color:#8cd6ff;             
}
.menu_item:hover{
    background: #808080bd;   
    color:#8cd6ff;  
}