.wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.project{
    padding: 100px 100px;
    max-width: 80%;
    width: 100%;
    border-radius: 6px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 40px;
   background: linear-gradient(135deg , rgba(255, 255, 255, 0.1) , rgba(255, 255, 255, 0));
   backdrop-filter: blur(10px);
   border: 1px solid rgba(255, 255, 255, 0.1) ;
   box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.37) ;
}
.project_desk{
    min-width: 50%;
    padding: 20px;
    border: 1px solid #bababa;
    border-radius: 4px;
    padding: 10px;
}
.project_list{
    min-width: 35%;
    padding: 20px;
}
.loader{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .project{
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }
    .project_desk{
        padding: 10px;
        width: 100%;
    }
    .project_list{
        width: 100%;
        padding: 0px;
    }
    .loader{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper{
        padding-bottom: 200px;
    }
}